*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.faq{
    max-width: 750px;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
   
    cursor: pointer;
    border-radius: 10px;
    
}
.menu{
   
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    height: 90%;
    display: none;
 overflow: hidden;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    width: 140px;
    align-items: center;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   position: absolute;
   top: 4.8%;
   left: 1%;
   transition: all 300ms ease;
}
.question{
   
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    
}
.question a{
    font-size: .5rem;
    margin-left: 10px;
    
    font-size: 18px;
    font-family: Arial;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.question a:hover{
    color: aquamarine;
}
.answer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}
.answer a{
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(149, 217, 217);
    padding-top: 0.5rem;
    line-height: 1rem;
    font-size: 1rem;
    text-decoration: none;
    transition: all 300ms ease-in;
}
.answer a:hover{
    color: deeppink;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade .7s ease-in-out;
}
.faq.active img{
    transform: rotate(180deg);
}
.faq img{
    transition: transform .3s ease-in;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
body{
   height: 100vh;
   grid-template-columns: 1fr;
   display: grid;
}
.panel{
    background: url(img/pexels-dianachaplin-1242454.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.panel h1{
    color: rgba(255, 255, 255, 0.678);
   margin-left: auto;
   padding-right: 100px;
    font-family: arial;
    font-weight: 800;
    letter-spacing: 8px;
    text-align: right;
    padding-top: 0px;
    
    font-size: 70px;
    animation: gidthh ;
    animation-duration: 1s ;
    animation-delay: .1s ;
   width: 100%;
   animation-fill-mode: forwards;
}
@keyframes gidthh {
    from {
       letter-spacing: -10px;
    }
    to {
   letter-spacing: 8px;
    }
}
.panel p{
    text-align: center;
    letter-spacing: 10px;
    margin-top: -20px;
    color: white;
    text-shadow: 0px 0px 10px black;
    margin-left: auto;
   margin-right: 10px;
}
footer{
   
   grid-column: span 2;
   width:100%;
   margin-left: auto;
 padding: 10px;
   margin-top: auto;
 margin-bottom: 10px;
   transition: 300ms all ease;
   display: flex;
   justify-content: end;
  
}
.red {
    margin: 10px;
    background: rgba(0, 0, 0, 0.79);
    padding: 10px;
    border-radius: 5px;
}
.red i{
color: white;
margin-right: 5px;
}
.red a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: arial;
}
.logomenu{
    width: 45px;
    height: 45px;
    padding: 5px;
   transition: all 300ms ease-in-out;
    z-index: 3;
    cursor: pointer;
    position: absolute;
}