* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: arial;
    
    background: url(img/pexels-davidohboy-8797307.jpg);
    background-size: cover;
    background-position-y: -300px;
 
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.title1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
}
.title a{
    color: white;
    text-decoration: none;
    background: #62ab7e;
    font-weight: 900;
    padding: 5px;
    border-radius: 10px;
}

.relleno {
    background: url(img/pexels-minan1398-906150.jpg);
    background-size: cover;
    background-position-y: -100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 1rem;
    overflow-x: scroll;padding-top: 100px;
}
.raz {
    border-top: 5px solid firebrick;
    background: url(img/pexels-orlovamaria-4946859.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 1rem;
    overflow-x: scroll;
}
.relleno h1, .raz h1{
    grid-column: span 4;
    font-family: arial;
    font-size: 40px;
   text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
    position: sticky;
 top: 0;
    color: rgba(0, 0, 0, 0.505);
}

img {
    border: 5px solid white;
    width: 300px;
    height: 300px;
    transition: all 300ms ease;
    border-radius: 10px;

}
img:hover{
    box-shadow: 0px 0px 20px black;
}
img:focus {
    outline: none;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: 0 auto;
 scale: 1.5;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%,-30%);
}

.lightbox-content,
.close {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.9);
   overflow-x: hidden;
}


.lightbox-content {
    margin: 0 auto;
    scale: 1.5;
    position: relative;
    max-width: 80%;
    text-align: center;
    margin-left: 470px;
}

.lightbox-img {
    display: block;
    max-width: 100%;
   
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
}

.lightbox-title {
    color: white;
    margin-top: 20px;
    margin-left: -480px;
    font-size: 24px;
    font-weight: bold;
}

.lightbox-description {
    color: white;
    margin-top: 10px;
    margin-left: -100px;
    font-size: 14px;
    width: 500px;
    padding: 0 20px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 7;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.card-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.card {
    border: 5px solid white;
    width: 300px;
    height: 300px;
    transition: all 300ms ease;
    border-radius: 10px;
}

img:hover {
    box-shadow: 0px 0px 20px black;
}

img:focus {
    outline: none;
}
